<template>
  <section class="section">
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="notification is-danger">
          {{ $t('common.needLogin') }}
        </div>
        <router-link
          class="button is-info is-fullwidth margin"
          to="/?login=true"
          @click.native="$emit('close')"
        >
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>{{ $t('login.signIn') }}</span>
        </router-link>

        <router-link
          class="button is-info is-fullwidth margin"
          :to="{ name: 'register' }"
          @click.native="$emit('close')"
        >
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
          <span>{{ $t('login.signUp') }}</span>
        </router-link>

      </section>
      <footer class="modal-card-foot"></footer>
    </div>
  </section>
</template>
<style lang="css" scoped>
.margin {
  margin-top: 20px;
}
</style>
