<template>
  <section class="hero is-fullheight has-background">
        <div class="columns">
          <div class="column is-one-third"><img
              alt="Fill Murray"
              class="hero-background is-transparent"
              src="https://www.fillmurray.com/1920/1080"
            /></div>
          <div class="column">Auto</div>
        </div>
  </section>
</template>
<style>

/* .hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
} */
</style>

