@import "~bulma/sass/utilities/_all";

$nav: #192532;
$section-padding: 1rem 1.5rem; 

.menu-dark {
    background-color: $nav!important;
}

.modal {
  z-index: 1200!important;
}

.navbar {
  .navbar-dropdown a.navbar-item:hover {
    color: #333 !important;

  }
  z-index:1100 !important;
  a {
    color: #FFF !important;
    :hover {
      color: #FFF !important;
    }
  }
}

.notices {
  z-index: 1200 !important;
}

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: transparent !important;
}

@media screen and (max-width: 769px) {
  .reverse-row-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

@import '~bulma/bulma';
@import "~buefy/src/scss/buefy"
